
{% extends "model-page.html" %}

	{% block content %}
		<h2 id = 'ag'>Agendamentos</h2>
		<a href="evento/">
		<button type="button">Novo Evento</button>
	</a>
		<ul style="font-size: 18px">
		{% for evento in eventos %}
			<li style="


			border: 2px solid black;
			width:  300px;
			margin-top: 15px; 
			background:#d9a9ff;
			border-radius: 15px;
			padding: 3px;
			box-shadow: 5px 5px 15px 2px black;
			list-style-type: none;
			font-family: Arial;

			">{{evento.titulo}} - {{evento.getDataEvento}} 


		(<a href="evento/?id={{evento.id}}">Editar</a>/<a href="evento/delete/{{evento.id}}">Excluir</a>)



			</li>
				{% endfor %} 
				</ul>
	
	{% endblock %}