<!DOCTYPE html>

<html>

	<head>

		<title>Agendamento</title>
		<meta charset="utf-8">
		 {% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "css/agendamentoStyle.css" %}'>
	</head>
	<body>
		<h2 id = 'ag'>Agendamentos</h2>

		
		

		<ul  id='IconAgen' style="font-size: 18px">

		{% for evento in eventos %}

		<div style={% if evento.evento_atrasado %} 'color: red'	 {% endif %}>

						<li>{{evento.titulo}} - {{evento.getDataEvento}} 

			
						(<a href="evento/?id={{evento.id}}">Editar</a>
						/<a href="evento/delete/{{evento.id}}">Excluir</a>)</li>

				</div>


							
						{% endfor %} 
						<div id='fundo'></div>
				</ul>

				<a id='novoCad' href="evento/">
						<button type="button">Novo Evento</button>
				</a>

	
		</body>


</html>