<!DOCTYPE html>
<html>
    <head>
            <title>Login</title>
            <meta charset="utf-8">
    </head>

    <body>
        <h1>Login</h1>
        <form action="submit" method="POST">{% csrf_token %}
                    <div align = 'center'> 
                            
                        <label>Usuário</label>
                        <input type="text" name="username"><br>
                        <label>Senha</label>
                        <input type="password" name="password"><br>
                        <button type="submit"> Entrar </button>
                     </div>
               
        </form>
        {% for message in messages %}
            <div align='center'>
                <strong>ERRO : </strong>{{message}}
            </div>
        {% endfor %}

    </body>  
</html>