#IconAgen{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5px;


}

li{


			border: 2px solid black;
			width:  300px;
			margin-top: 15px; 
			background:#b3ffe0;
			border-radius: 15px;
			padding: 3px;
			box-shadow: 5px 5px 15px 2px black;
			list-style-type: none;
			font-family: Arial;
}
#ag {

	font-family: Arial;
	position: relative;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	text-decoration: underline;
}


#IconAgen #fundo{

	position: absolute;
	width: 500px;
	height: 450px;
	border:3px solid #252725;
	background-color: grey;
	z-index: -1;

}





#novoCad{

	font-family: Arial;
	text-decoration: none;
}

#box{
position: relative;

display: flex;
flex-direction: row;
z-index: 5;
bottom: -350px;
}

 #box button{

	width: 150px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5%;
	margin-left: 10px;
}