body{
	background-color: #fff;

}

#check{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 30%;
	
}


#check img{
	width: 40px;
	height: 40px;
	margin-top: 18px;

}
#formulario {
		
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		margin: 30px 500px 0 500px;
		padding: 30px;
		border-radius: 20px;
		background-color: #7A7E7A;
		border:2px solid black;
	}

#formulario form{
	
	display: flex;
	flex-direction: column;
	align-items: center;

}
#formulario form h1{
	font-family: Arial;
	font-weight: bold;
	
}
#formulario form label{
	
	flex: 1;
	font-family: Arial;
	font-weight: bold;
	
}
#formulario form #password{
	position: relative;
	left: 5px;

}

#formulario form button{
	margin-top: 10px;
}